*{
    margin: 10px;
}
body{
    background-color: grey;
    border-radius: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    justify-content: center;
}
.card{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    box-sizing: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    padding: 20px;
    margin-bottom: 20px;
    text-align: start;
    width: 300px;
    height: 800px;
    color: black;
    margin: 0 auto;
}

.card{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 650px) {
    .card{
        width: 70%;
        height: auto;
        margin: 0 auto;
        margin-left: 17%;
        justify-content: center;
    }
    
}