body {
    text-align: center;
}

#contenedor {
    margin: 10px;
    padding: 20px;
    background-color: #eeeeee;

}

#menu {
    height: 1%;
    background-color: rgb(78, 228, 248);
    margin: 1em;
    border-radius: 5px;
}

ul {
    text-align: center;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover {
    color: crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;   
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    justify-content: flex-end ;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 5px;
}

.card strong {
    color: #333;
}

.linea {
    width: 80%;
    height: 1px;
    background-color: #000; 
    margin: 20px auto;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: lightgray;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
}

.pie {
    margin-top: 20px;
    text-align: center;
}

.img {
    width: 30%;
    border-radius: 30px;
}
.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
   
  .flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px;
  }